<div *ngIf="courses && courses.length === 0; else courseTemplate">
    <h2>Loading ...</h2>
  </div>
  
  <ng-template #courseTemplate class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let course of courses">
          <app-course [data]="course" (select) ="select($event)"></app-course>
    </div>
    </div>
  </ng-template>
