<div class="container">
    <h2>{{course?.name}}  <app-rating [rating]="course.rating"></app-rating></h2>
    <h6>Number of Students : {{course?.students}}</h6>
    <span>Price :</span><span>{{course?.price | currency:'INR':true:'5.0-0'}}</span>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut fugit dicta at consequuntur atque natus numquam neque expedita doloremque minima. Saepe numquam debitis sint repudiandae voluptatem atque ducimus nam nesciunt, exercitationem repellendus totam iure doloremque aspernatur temporibus facere fuga quaerat?
    </p>
</div>
