<div class="container">

    Phone : <input type="text" 
                   #input 
                   name="phone" 
                   id="phone"
                   [(ngModel)]="phone"
                   [format]="'IND'" >

<h2>{{phone}}</h2>                   
</div>
