<div class="card" style="min-height: 550px;">
    <img class="card-img-top" 
         src="../../assets/{{course.name|lowercase | trim:'-' }}.png" 
         alt ="{{course.name | lowercase | trim:'_'}}">
    <div class="card-body">
      <h5 class="card-title">Name: {{course?.name }}</h5>
      <h5 class="card-title">Price: {{course?.price | currency:'INR':true:'5.0-0'}}</h5>
      <h5 class="card-title">#Students: {{course?.students}}</h5>
      <h5 class="card-title">Rating:
          <app-rating [rating]="course.rating"></app-rating>
      </h5>
      <p class="card-text">{{course?.desc}}</p>

      <a [routerLink]="['/courses', course.id]" 
               class="mr-4 btn btn-warning">Details</a>

      <button (click)="select(course)" 
               class="btn btn-primary"
               [disabled]="course.students >= 20"
               [class.btn-warning]="course.students > 14 &&  course.students < 20"
               [class.btn-danger]="course.students >= 20">Register</button>
      
      


    </div>
  </div>
