<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['tform']" routerLinkActive="active"> Template Driven</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['rform']" routerLinkActive="active"> Reactive Form</a>
    </li>
  </ul>
<div class="row">
    <div class="col-md-8 offset-md-4 mt-4" style="padding:10px; border: 1px solid goldenrod;">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Course: </legend>
                <router-outlet></router-outlet>
        </fieldset>
    </div>
</div>