<div class="col-md-6">
    <form [formGroup]="courseForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <input type="name" 
                 class="form-control" 
                 name="coursename"
                 formControlName="coursename"
                 placeholder="Course Name"
                 id="courseName">
        </div>
        <div *ngIf="coursename.touched && coursename.errors" class="alert alert-danger">
            {{coursename.errors | json}}
        </div>
        <div class="form-group">
            <input type="price" 
                   class="form-control" 
                   name="price"
                   formControlName="price"
                   placeholder="Enter course Price"
                   id="price">
        </div>
        <div *ngIf="price.touched && price.errors" class="alert alert-danger">
            {{price.errors | json}}
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox"
                   class="form-check-input" 
                   formControlName="offer"
                   name="offer" id="offer" value="offer">
            Offer
          </label>
        </div>
      
        <button 
            type="submit" 
            [disabled]="courseForm.invalid"
            class="btn btn-primary">Submit</button>
      </form>
    </div>  