.container {
    width: 80%;
    margin:0 auto;
}
div.title {
    background-color: tomato;
    padding:10px;
    color:white;
    text-align: center;
}
p{
    font-size: 24px;
    padding:10px;
    margin-top:5px;
}