<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand">CourseFlix</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    [routerLink]="['/courses']" 
                    routerLinkActive="active" >Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/directive']" routerLinkActive="active" >Custom Directive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/orders']" routerLinkActive="active" >Orders</a>
            </li>
            <li class="nav-item" *ngIf="canShow">
                <a class="nav-link" [routerLink]="['/courses/add']" routerLinkActive="active" >Add Course</a>
            </li>
        </ul>
    </div>
</nav>