<div class="col-md-6">
<form #courseForm="ngForm" (ngSubmit)="submitCourse(courseForm.value)">
    <div class="form-group">
      <input type="name" 
             class="form-control" 
             name="coursename"
             ngModel 
             #courseName = "ngModel"
             required
             minlength="8"
             maxlength="15"
             (change)="handleChange(courseName)"
             placeholder="Course Name"
             id="courseName">
    </div>
    <div *ngIf="courseName.touched && courseName.invalid"  class="alert alert-danger">
        <span *ngIf="courseName.errors.required">Course name is mandatory</span>
        <span *ngIf="courseName.errors.minlength">
            Invalid length short by {{courseName.errors.minlength.requiredLength - courseName.errors.minlength.actualLength}}
        </span>
    </div>
    <div class="form-group">
        <input type="price" 
               class="form-control" 
               name="price"
               required
               ngModel 
               #price = "ngModel"
               (change)="handleChange(price)"
               placeholder="Enter course Price"
               id="price">
    </div>
    <div *ngIf="price.touched && price.invalid"  class="alert alert-danger">
        <span *ngIf="price.errors">Course Price is mandatory</span>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox"
               class="form-check-input" 
               name="offer" id="offer" value="offer">
        Offer
      </label>
    </div>
  
    <button 
        type="submit" 
        [disabled]="courseForm.invalid"
        class="btn btn-primary">Submit</button>
  </form>
</div>  